body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#ssA50s {
    height: 158.5mm;
    width: 74.5mm;
    background-image: url('img/anhNenDtCuaHieu.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    border: 0.3cm solid black;
    position: relative;
}

.nut {
    background-color: black;
    position: absolute;
    right: -15px;
    top: 10%;

}

.congTru {
    width: 10px;
    height: 100px;
}

.nguon {
    width: 10px;
    height: 50px;
    position: absolute;
    top: 35%
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 6px;
}

.header .taiTho {
    background-color: black;
    height: 0.75cm;
    width: 0.75cm;
    border-radius: 50%;
    position: relative;
}

.header .taiTho:after {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.356);
    height: 0.3cm;
    width: 0.3cm;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 30%;
}

.cotSong-phanTramPin {
    position: relative;
}

.fa-battery-full {
    position: absolute;
    transform: rotate(-90deg);
    right: 37px;
}


.search{
    text-align: center;
    border: none;
    position: relative;
    top:2cm;

}
.search input{
    border: none;
    border-radius: 10px;
    padding:5px 10px;
}



.apps{
    position: relative;
    top:305px;
    display: flex;
    justify-content: center;
}
.app{
    font-size: 50px;
    margin: 8px;
}
.app .fa-facebook{
    background-color: white;
    color:#2196F3;
    border-radius: 50%;
}
.app .fa-facebook-messenger{
    background-color: #2196F3;
    color: #ffffff; 
    border-radius: 50%;
}
.app .fa-twitter{
    color:#2196F3;
}
.app .fa-telegram{
    background-color: white;
    color:#2196F3;
    border-radius: 50%;
}



.menuHome{
    position: relative;
    bottom: -363px;
    display: flex;
    justify-content: center;
}
.call{
    font-size: 50px;
    margin: 8px;
}
.call .fa-phone{
    color:green;
}
.call .fa-message{
    color:rgb(0, 68, 255);
}
.call .fa-chrome{
    color:violet;
}



.line {
    position: absolute;
    background-color: white;
    bottom: 3px;
    width: 100px;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
}